<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalTUES</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>CalTUES</h1>
    </header>
    <div class="register-container">
        <div class="register-body">
            <h2>Register</h2>
            <p>Вече имаш акаунт? <a href="../../Marti/html/login.html">Login</a></p>
            <form id="registerForm" class="register-form">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="example@elsys-bg.org" required><br><br>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="••••••••" required><br><br>

                <input type="submit" value="Register">
            </form>
            <div id="message"></div>
        </div>
    </div>
    <footer>
        <p>&copy; 2026 CalTUES &middot; TUES</p>
    </footer>
    <script src="../javascript/register.js"></script>
</body>
</html>